<div data-controller="cashRegister--formControl">
  <%if @bills_to_pay.persisted? == false%>
    <p class= "block mb-2 text-sm font-medium text-gray-900 dark:text-white">Selecione o tipo de conta:</p>
    <label class="inline-flex items-center cursor-pointer  mt-3">
      
        <input type="checkbox" class="sr-only peer"
          data-action="input->cashRegister--formControl#toggleStatus">      
        <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Conta Recorrente</span>
      
    </label>
  <% end %>

  <h1 class="mt-8 pb-3 border-b-2 text-2xl font-extrabold dark:text-white">Dados da Conta</h1>

  <div class="mt-8" data-cashRegister--formControl-target="formAccountPayable">
    <%= render partial: "bills_to_pays/form_1", locals: { bills_to_pay: @bills_to_pay} %>
  </div>

  <div class="mt-8 hidden" data-cashRegister--formControl-target="formRecurringPayableAccount">
    <%=render partial: "bills_to_pays/form_2", locals: { bills_to_pay: @bills_to_pay} %>     
    
  </div>
</div>
  
  
