<div class="mt-8 text-center">
    <nav aria-label="Page navigation example">
        <ul class="inline-flex -space-x-px text-sm">

        <% unless @bills_to_pays.first_page? %>
            <li>
            <%= link_to 'Anterior', url_for(page: @bills_to_pays.prev_page, filter: params[:filter], start_date: params[:start_date] , start_date_payment: params[:start_date_payment],  category: params[:category], situation: params[:situation], account_type_name: params[:account_type_name]), data: {turbo_frame: "results_account", turbo_action: "advance"}, class: 'flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' %>
            </li>
        <% end %>

        <% (@bills_to_pays.current_page - 1..@bills_to_pays.current_page + 3).each do |page| %>
            <% if page > 0 && page <= @bills_to_pays.total_pages %>
            <li>
                <% if @bills_to_pays.current_page == page %>
                <%= content_tag :a, page, href: url_for(page: page, filter: params[:filter], start_date: params[:start_date] , start_date_payment: params[:start_date_payment], category: params[:category], situation: params[:situation], account_type_name: params[:account_type_name]), data: { turbo_frame: "results_account", turbo_action: "advance"}, class: 'flex items-center justify-center px-3 h-8 leading-tight text-blue-600 bg-blue-50 border border-gray-300 hover:bg-blue-100 hover:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white', 'aria-current': 'page' %>
                <% else %>
                <%= link_to page, url_for(page: page, filter: params[:filter], start_date: params[:start_date] , start_date_payment: params[:start_date_payment], category: params[:category], situation: params[:situation], account_type_name: params[:account_type_name]), data: { turbo_frame: "results_account", turbo_action: "advance"}, class: 'flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' %>
                <% end %>
            </li>
            <% end %>
        <% end %>

        <% unless @bills_to_pays.last_page? %>
            <li>
            <%= link_to 'Próximo', url_for(page: @bills_to_pays.next_page, filter: params[:filter], start_date: params[:start_date] , start_date_payment: params[:start_date_payment], category: params[:category], situation: params[:situation], account_type_name: params[:account_type_name]), data: { turbo_frame: "results_account", turbo_action: "advance"}, class: 'flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white' %>
            </li>
        <% end %>
        </ul>
    </nav>
</div>