<h1 class="text-center pb-3 border-b-4 text-4xl font-extrabold dark:text-white">
  <%=t('activerecord.attributes.invoicing.services_performed', year:@year)%>
</h1>
<%= render "invoicings/table_services"%>

<hr class="mt-8 border-b-4">

<div class=" mt-8 w-full border relative overflow-x-auto shadow-md sm:rounded-lg ">
    <%= pie_chart @service_data_for_chart,
      thousands: ".",
      decimal: ",",
      round: 2,
      zeros: true,
      suffix: " %",
      title: t('activerecord.attributes.invoicing.service_composition'),
      height: "500px",
      empty: t('activerecord.attributes.invoicing.no_data_available')
    %>
  </div>