<div class="m-10 mt-5 sm:pt-28 md:pt-28 sm:ms-72 sm:me-8">
  <h1 class="pb-3 border-b-4 text-4xl font-extrabold dark:text-white">
    <%=t('activerecord.attributes.cash_flow.add_cash')%>
  </h1>

  <div class="mt-8">
    <%= render partial: "cash_flows/form", locals: {cash_flow: @cash_flow} %>
  </div>
</div>
